@font-face{
  font-family: parsonsengraved;
  src: url('Assets/Vanshika_110.ttf');
}

body{
	background-color: red;
	font-family: parsonsengraved;
	text-transform: uppercase;
	font-size: 24pt;
	color: black;
	height: auto;
}

@media only screen and (max-device-width: 480px) {

	body{
	background-color: red;
	}

}

.searchbarwrapper{
	width: 105%;
	height: 70px;
	border-width: 0px 0px 4px 0px;
	border-color: black;
	border-style: solid;
	margin-left: -10px;
	margin-top: 0px;
}

a{
	text-decoration: none;
	color: black;
}

.searchtextparent{
	background-color: ;
	width: 50%;
	display: inline-block;
	height: 30px;
	margin-left: 4%;
	margin-top: 20px;
}

.hovertextparent{
	background-color: ;
	width: 300px;
	display: inline-block;
	height: 40px;
	position: relative;
	float: right;
	margin-top: 13px;
	margin-right: 8%;
}

#hovertext{
	position: relative;
}

.mapwrapper{
	width: 105%;
	background-color: ;
	height: 80%;
	margin-left: -10px;
}

#mapparent{
	width: 88.5%;
	height: 100%;
	margin-left: 4%;
	margin-top: 30px;
}

