@font-face{
  font-family: parsonsengraved;
  src: url('Assets/Vanshika_110.ttf');
}

body{
  font-family: parsonsengraved;
  font-size: 24pt;
  text-transform: uppercase;
  width: 101%;
  color: red;
  height: 90%;
  background-color: black;



  height: 100%;
}

.heading-wrapper{
  width: 100%;
  margin-top: 30px;
  border-width: 0px 0px 4px 0px;
  border-color: red;
  border-style: solid;
  margin-left: -10px;
  height: 70px;
}

.heading{
  display: inline-block;
  font-size: 24pt;
  margin-left: 30px;
}

a{
  text-decoration: none;
  color: red;
}

.room-wrapper{
  width: 100%;
  height: 90%;
}

.room-floorplan{
  display: inline-block;
  height: 100%;
  width: 100%;
  float: left;
  margin-top: 20px;
}

.room-signs{

  display: inline-block;
  width: 100%;
  min-height: 100%;
}

.lab1000signs{
  min-width: 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
}

.text-wrapper{
  min-width: 48%;
  max-width: 48%;
  position: relative;
  width: 48%;
  height: 35%;
  min-height: 35%;
  overflow: hidden;
  display: inline-block;
  float: left;
  border-width: 0px 0px 4px 4px;
  border-color: red;
  border-style: solid;
}

.sign{
  min-width: 75%;
  position: relative;
  font-size: 24pt;
  padding: 15px;
  width: 50%;
  line-height: 30pt;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.sign-subheading{
  position: relative;
  font-size: 14pt;
  width: 85%;
  padding: 15px;
  line-height: 18pt;
  margin-top: -55px;
  margin-left: 10px;
}

.border{
   border-width: 0px 0px 4px 4px;
}

.topborder{
  border-width: 4px 0px 4px 4px;
}

.homeicon{
  display: none;
}
